<table>
    <tr>
        <td style="width: 300px;">
            <p class="profileimg">Fermin Del Rosario Antonio</p>
            <p>Terminar un Doctorado en Ingenieria de Software</p>
        </td>
        <td>
            <img src="../assets/images/profile.png" width="120" height="120" class="profile">
        </td>
        <ul>
            <li>zs19004879@estudiantes.uv.mx
                <img src="../assets/images/mail.png" height="20">
            </li>
            <li>2731285030
                <img src="../assets/images/phone.png" height="15">
            </li> 
            <li>Orizaba, Veracruz
                <img src="../assets/images/ubication.png" height="15">
            </li>
            <li>@FerminDRA
                <img src="../assets/images/github.png" height="17">
            </li>
        </ul>
    </tr>
</table>