@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Trocchi&display=swap" rel="stylesheet');

h3{
    font-family: 'Trocchi', serif;
    font-size: 130%;
}

td{
    font-family: 'Reem Kufi', sans-serif;
}