<h3>Certificados</h3>
<a href="../assets/images/FerminDRA - Python.png" target="_blank">
    <img src="../assets/images/FerminDRA - Python.png" width="200" height="120">
</a>
<a href="../assets/images/FerminDRA - Pandas.png" target="_blank">
    <img src="../assets/images/FerminDRA - Pandas.png" width="200" height="120">
</a>
<br>
<a href="../assets/images/FerminDRA - Intermediate Machine Learning.png" target="_blank">
    <img src="../assets/images/FerminDRA - Intermediate Machine Learning.png" width="200" height="120">
</a>
<a href="../assets/images/FerminDRA - Intro to Machine Learning.png" target="_blank">
    <img src="../assets/images/FerminDRA - Intro to Machine Learning.png" width="200" height="120">
</a>
<ul *ngFor="let certif of certifications">
    <li>
        <tr>
            <td style="width: 350px; border: hidden">{{certif.cerfificacion}}</td>
        </tr>
    </li>
</ul>