<h3>Habilidades y competencias</h3>
<tr>
<dl>
    <dt>Pensamiento creativo</dt>
    <dd>
        <div style="width:70%;"><strong>70%</strong></div>
    </dd>
    <dt>Empatia</dt>
    <dd>
        <div style="width:90%;"><strong>90%</strong></div>
    </dd>
    <dt>Pensamiento critico</dt>
    <dd>
        <div style="width:85%;"><strong>85%</strong></div>
    </dd>
    <dt>Comunicacion acertiva</dt>
    <dd>
        <div style="width:80%;"><strong>80%</strong></div>
    </dd>
    <dt>Autoaprendizaje</dt>
    <dd>
        <div style="width:90%;"><strong>90%</strong></div>
    </dd>
</dl>
</tr>