<h3 class="title">Experiencia laboral</h3>
<ul *ngFor="let work of workExperience">
    <li>
        <tr>
            <td style="width: 160px; border: hidden" class="td1">{{work.fecha}}</td>
            <td style="border: hidden" class="td1">{{work.ubicacion}}</td>    
        </tr>
        <tr>
            <td style="border: hidden" class="td2">{{work.empresa}}</td>
        </tr>
        <tr>
            <td style="border: hidden" class="text">{{work.puesto}}</td>
        </tr>
        <h4 class="logros">Logros:</h4>
        <ul *ngFor="let logro of work.logros">
            <li>
                <tr class="text">
                    {{logro.descripcion}}
                </tr>
            </li>
        </ul>
        
    </li>
    
</ul>
