<h3>Experiencia laboral</h3>
<ul *ngFor="let work of workExperience">
    <li>
        <tr>
            <td style="width: 120px; border: hidden">{{work.fecha}}</td>
            <td style="border: hidden">{{work.ubicacion}}</td>    
        </tr>
        <tr>
            <td style="border: hidden">{{work.empresa}}</td>
        </tr>
        <tr>
            <td style="border: hidden">{{work.puesto}}</td>
        </tr>
        <h4>logros</h4>
        <ul *ngFor="let logro of work.logros">
            <li>
                <tr>
                    {{logro.descripcion}}
                </tr>
            </li>
        </ul>
        
    </li>
    
</ul>
