@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Trocchi&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Belleza&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Syne&display=swap" rel="stylesheet');

.title{
    font-family: 'Trocchi', serif;
    font-size: 130%;
}
.td1{
    font-family: 'Reem Kufi', sans-serif;
    font-size: small;
    color: orangered;
}
.td2{
    font-family: 'Belleza', sans-serif;
    font-weight: bold;
    font-size: large;
}

.text{
    font-family: 'Reem Kufi', sans-serif;
}

.logros{
    font-family: 'Syne', sans-serif;
}